@import "../../_globalColor";

.achievement-heading {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0px;
  color: $titleColor;
  margin-bottom: 1rem;
}
.achievement-subtitle {
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: $buttonColor;
  font-size: 0.95rem;
}
.subTitle {
  color: $subTitle;
  line-height: 1.6;
}

/* Media Query */
@media (max-width: 1380px) {
  .achievement-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .achievement-heading {
    font-size: 30px;
    text-align: center;
  }
  .achievement-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
}
